/* CSS declarations go here d*/
body{
  background-color: rgb(245,245,245);
}
html, body, div, main {
  font-family: 'Roboto', 'Helvetica', sans-serif;
  height: '100%';
}

.content {
  max-width: 1080px;
}

.chart {
  align-items: center;
}

